* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  background-color: yellow; }
  body header #titular {
    margin: 0%;
    background-color: yellow;
    text-align: center;
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 5vw; }
  body header nav {
    width: 100%;
    background-color: yellow;
    font-family: "Bebas Neue", cursive;
    font-size: 2rem; }
    body header nav .nav-link {
      color: black; }
  body main {
    width: 100%;
    padding: 2vh;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    body main .division {
      margin-top: 1vh;
      height: 2px;
      width: 100%;
      background-color: black; }
    body main element {
      padding-right: 1vh;
      background-color: white; }
      body main element .primerTitular {
        font-weight: bold;
        font-style: italic; }
      body main element .subtittle {
        font-weight: bold;
        padding-top: 10px; }
      body main element p {
        padding-top: 3vh; }
      body main element .subtitulo {
        color: grey; }
    body main aside {
      background-color: yellow; }
      body main aside ul {
        background-color: yellow; }
        body main aside ul a {
          text-decoration: none;
          color: black; }
        body main aside ul .list-group-item {
          border: none;
          background-color: yellow; }
          body main aside ul .list-group-item #img-aside {
            background-color: yellow; }
  body footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 99.7vw;
    padding-bottom: 3%;
    text-align: center;
    background-color: yellow;
    padding-top: 0%; }
    body footer h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.9rem; }
    body footer .link2 {
      color: black;
      padding-left: 4%;
      padding-right: 4%; }
    body footer .titulo-redes {
      padding-bottom: 5%; }

#contacto {
  background-color: white;
  padding: 2vh; }
  #contacto .primerTitular {
    font-weight: bold;
    font-style: italic; }
